@font-face {
    font-family: 'DINPro';
    src: url(./fonts/DINPro.woff2);
    font-weight: 400;
}
@font-face {
    font-family: 'Gilroy-Light';
    src: url(./fonts/Gilroy-Light.woff2);
    font-weight: 300;
}
@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url(./fonts/Gilroy-ExtraBold.woff2);
    font-weight: 800;
}


:root {
    --scale:1;
  }
  
.horizontal-scroll-container {
    max-width: 2045px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    height: 100vh;
    max-height: 1536px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    :root {
        --scale:0.6;
      }
}