.scroll-container {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
    z-index: 100;
    padding-left: 80px;
   
  }
  .content {
    width: 800px;
    height: auto;
    position: absolute;
    top: 0;
    right: -50px;
    width: calc(100% - 40px);
    height: 100%;
    overflow: hidden;
    padding-right: 20px;
    border-radius: 10%;
    background: white;
    box-shadow: 5.446px 8.387px 232.5px 17.5px rgba(157, 185, 198, 0.39);
    padding: 20px; 
  }
  .section__inner{
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    font-family: "DINPro";
    padding-left: 40px;
  }

.subtitles{
    font-size: 36px;
    display: flex;
    flex-direction: column;
    row-gap:0px;
    color: rgb(36, 36, 36);
    text-transform: uppercase;
    line-height: 4.074;
    max-height: 300px;
}
.subtitles__item{
    max-height: 50px;
}
  .custom-scrollbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .scrollbar-track {
    flex: 1;
    background: #000; 
    border-radius: 5px;
    width: 7px;
    margin: 5px;
    position: relative;
    cursor: pointer; 
    right: -10px;
  }
  
  .scrollbar-thumb {
    width: 25px;
    height: 37%;
    background: #ff69b4; 
    border-radius: 20px;
    border:1px solid black;
    cursor: grab; 
    position: absolute;
    top: 0;
    left:-8px;
    touch-action: none; 
  }
  
  .scrollbar-thumb.active {
    cursor: grabbing; 
  }